In [51]:
# Reload when code changed:
%load_ext autoreload
%autoreload 2
%pwd
import os 
import sys
path = "../"
sys.path.append(path)
#os.path.abspath("../")
print(os.path.abspath(path))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
D:\github\ekostat_calculator

In [52]:
import pandas as pd
import numpy as np
import json
import timeit
import time
import core
import importlib
importlib.reload(core)
import logging
importlib.reload(core) 
try:
    logging.shutdown()
    importlib.reload(logging)
except:
    pass
from event_handler import EventHandler
print(core.__file__)
pd.__version__

..\core\__init__.py

'0.19.2'

### Load directories

In [53]:
root_directory = 'D:/github/ekostat_calculator'#"../" #os.getcwd()
workspace_directory = root_directory + '/workspaces' 
resource_directory = root_directory + '/resources'
#alias = 'lena'
user_id = 'test_user' #kanske ska vara off_line user?
workspace_alias = 'lena_indicator'

## Initiate EventHandler

In [54]:
print(root_directory)
paths = {'user_id': user_id, 
         'workspace_directory': root_directory + '/workspaces', 
         'resource_directory': root_directory + '/resources', 
         'log_directory': 'D:/github' + '/log', 
         'test_data_directory': 'D:/github' + '/test_data'}

D:/github/ekostat_calculator

In [97]:
t0 = time.time()
ekos = EventHandler(**paths)
#request = ekos.test_requests['request_workspace_list']
#response = ekos.request_workspace_list(request) 
#ekos.write_test_response('request_workspace_list', response)
print('-'*50)
print('Time for request: {}'.format(time.time()-t0))
# OLD: ekos = EventHandler(root_directory)

2018-06-04 16:35:16,497	event_handler.py	74	__init__	DEBUG	Start EventHandler: event_handler

--------------------------------------------------
Time for request: 4.277946949005127

### Load existing workspace

In [91]:
#ekos.copy_workspace(source_uuid='default_workspace', target_alias='lena_1')

In [98]:
ekos.print_workspaces()

====================================================================================================
Current workspaces for user are:

uuid                                    alias                         status
----------------------------------------------------------------------------------------------------
default_workspace                       default_workspace             readable
ddc27979-76f8-471c-a0b4-3bc773c6ecbf    lena                          editable
9eea0d00-c024-410f-912a-980eed55acae    lena_newdata                  editable
147f5d47-773c-43f0-b337-57208718d0cf    lena_indicator                editable
6fe05a39-2018-4cba-9dd4-27057578ff23    lena_1                        editable
====================================================================================================

In [99]:
workspace_uuid = ekos.get_unique_id_for_alias(workspace_alias = 'lena_indicator')
print(workspace_uuid)

147f5d47-773c-43f0-b337-57208718d0cf

In [100]:
workspace_alias = ekos.get_alias_for_unique_id(workspace_unique_id = workspace_uuid)

In [101]:
ekos.load_workspace(unique_id = workspace_uuid)
# Här får jag ofta felmeddelande:
# AttributeError: module 'core' has no attribute 'ParameterMapping'

2018-06-04 16:35:30,534	event_handler.py	1674	load_workspace	DEBUG	Trying to load new workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"

====================================================================================================
Initiating WorkSpace: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf
Parent directory is: D:/github/ekostat_calculator/workspaces
Resource directory is: D:/github/ekostat_calculator/resources
=== 30062c90-2a60-4ee1-9944-f00329db1174
!!! A
!!! 30062c90-2a60-4ee1-9944-f00329db1174
!!! D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
===
D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_1
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_2
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_3
=== default_subset
!!! default_subset
!!! default_subset
!!! D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
===
D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_1
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_2
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_3
load_water_body_station_filter
Initiating WorkStep: D:/github/ekostat_calculator/workspaces/147f5d47-773c-43f0-b337-57208718d0cf/step_0

2018-06-04 16:35:30,873	event_handler.py	1692	load_workspace	INFO	Workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator loaded."

True

In [102]:
ekos.import_default_data(workspace_alias = workspace_alias)

2018-06-04 16:35:34,305	event_handler.py	1042	import_default_data	DEBUG	Trying to load default data in workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"
2018-06-04 16:35:34,339	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: chlorophyll_integrated_2015_2016_row_format.txt
2018-06-04 16:35:34,377	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: chlorophyll_sharkweb_data_chlorophyll_wb_2007-2017_20180320.txt
2018-06-04 16:35:34,395	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: physicalchemicalmodel_110001_PROFILER_alldepths_SE652400-223501_toolbox.dat
2018-06-04 16:35:34,424	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: physicalchemicalmodel_120004_PROFILER_alldepths_SE612520-172080_toolbox.dat

File already added
File already added
File already added
File already added

2018-06-04 16:35:34,721	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: physicalchemical_sharkweb_data_fyskem_wb_2007-2017_20180320.txt
2018-06-04 16:35:34,847	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: phytoplankton_2016_row_format.txt

File already added
File already added

2018-06-04 16:35:35,168	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: phytoplankton_sharkweb_data_biovolume_wb_2007-2012_20180320.txt
2018-06-04 16:35:35,367	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: phytoplankton_sharkweb_data_biovolume_wb_2013-2017_20180320.txt

File already added
File already added

2018-06-04 16:35:35,444	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: zoobenthos_2016_row_format_2.txt

File already added

2018-06-04 16:35:36,003	workspaces.py	1006	import_default_data	DEBUG	Default data file has been copied to workspace raw data folder: zoobenthos_sharkweb_data_BQIm_wb_2007-2017_20180320.txt

File already added

### Load all data in workspace

In [172]:
#ekos.get_workspace(unique_id = workspace_uuid, alias = workspace_alias).delete_alldata_export()

2018-06-01 14:53:26,607	event_handler.py	1003	get_workspace	DEBUG	Getting workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "None"

In [103]:
#%%timeit
ekos.load_data(unique_id = workspace_uuid)

self.all_data 0

2018-06-04 16:35:41,809	workspaces.py	1609	load_all_data	DEBUG	Data has been loaded from existing all_data.pickle file.

In [104]:
w = ekos.get_workspace(unique_id = workspace_uuid)
len(w.data_handler.get_all_column_data_df())

2018-06-04 16:35:43,483	event_handler.py	999	get_workspace	DEBUG	Getting workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"

106094

# Step 0

### Apply first data filter

In [105]:
w.apply_data_filter(step = 0) # This sets the first level of data filter in the IndexHandler

# Step 1 Set subset filter

In [15]:
#w.copy_subset(source_uuid='default_subset', target_alias='A')

In [106]:
subset_uuid = ekos.get_unique_id_for_alias(workspace_alias = workspace_alias, subset_alias = 'A')
print(w.get_subset_list(), subset_uuid)

f1 = w.get_data_filter_object(subset = subset_uuid, step=1) 
print(f1.include_list_filter)

w.apply_data_filter(subset = subset_uuid, step = 1)

df_step1 = w.get_filtered_data(step = 1, subset = subset_uuid)
#print(df_step1.columns)
#df_step1[['SDATE', 'YEAR', 'MONTH', 'POSITION', 'VISS_EU_CD', 'WATER_TYPE_AREA', 'DEPH', 'MNDEP', 'MXDEP','BQIm']].dropna(subset = ['BQIm'])

2018-06-04 16:35:48,943	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_1

['30062c90-2a60-4ee1-9944-f00329db1174', 'default_subset'] 30062c90-2a60-4ee1-9944-f00329db1174
{'MYEAR': ['2013', '2014', '2015', '2016', '2017', '2018', '2019'], 'STATN': [], 'WATER_BODY': []}

# Step 2

In [107]:
water_body = 'SE574000-114230' # type_area 1-s,
w.get_step_object(step = 2, subset = subset_uuid).load_indicator_settings_filters()

temp = w.get_step_object(step = 2, subset = subset_uuid).indicator_data_filter_settings['oxygen']
temp.get_value(variable='REF_VALUE', type_area='1', water_body = water_body)
#temp.settings.df

SE574000-114230
['unspecified' 'SE581740-114820' 'SE581260-113220' 'SE581700-113000'
 'SE582000-115270' 'SE563000-123351' 'SE561030-122821' 'SE562450-122751'
 'SE562000-123800' 'SE555545-124332' 'SE592000-184700' 'SE658352-163189'
 'SE591800-181360' 'SE592290-181600']
. . . . .
Series([], Name: REF_VALUE, dtype: object)
0
. . . . .
----
water_body SE574000-114230, type_area 1-s, variable REF_VALUE
num 1, suf s, suf? ['s' 'n']
0    3.5
Name: REF_VALUE, dtype: object <class 'pandas.core.series.Series'>
['3.5'] <class 'numpy.ndarray'>
value 3.5 in refvalue_column
['3.5']

'3.5'

In [108]:
w.get_step_object(step = 2, subset = subset_uuid).get_indicator_data_filter_settings('oxygen')

In [109]:
w.get_step_object(step = 2, subset = subset_uuid).indicator_ref_settings

{'biov': <core.filters.SettingsRef at 0x1beb00b8>,
 'bqi': <core.filters.SettingsRef at 0x1beb0080>,
 'chl': <core.filters.SettingsRef at 0x1bea9e80>,
 'din_winter': <core.filters.SettingsRef at 0x1beafb38>,
 'dip_winter': <core.filters.SettingsRef at 0x1beafac8>,
 'ntot_summer': <core.filters.SettingsRef at 0x1beafc50>,
 'ntot_winter': <core.filters.SettingsRef at 0x1beafa58>,
 'oxygen': <core.filters.SettingsRef at 0x1beafc88>,
 'ptot_summer': <core.filters.SettingsRef at 0x1beafcf8>,
 'ptot_winter': <core.filters.SettingsRef at 0x1beafcc0>,
 'secchi': <core.filters.SettingsRef at 0x1beafd68>}

In [67]:
w.get_step_object(step = 2, subset = subset_uuid)._indicator_setting_files['oxygen']

In [110]:
indicator_list = w.get_available_indicators(subset= 'A', step=2)

2018-06-04 16:35:56,404	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:35:56,527	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-06-04 16:35:56,684	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:35:56,840	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-06-04 16:35:56,997	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:35:57,146	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-06-04 16:35:57,315	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:35:57,489	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-06-04 16:35:57,641	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

"['TOT_COVER_ALL'] not in index"
subset A

2018-06-04 16:35:58,105	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:35:58,216	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-06-04 16:35:58,400	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A

#### Apply indicator filter

In [111]:
wb_list = df_step1.VISS_EU_CD.unique()
print('number of waterbodies in step 1: {}'.format(len(wb_list)))
typeA_list = [row.split('-')[0].strip().lstrip('0') for row in df_step1.WATER_TYPE_AREA.unique()]
print('number of type areas in step 1: {}'.format(len(typeA_list)))

number of waterbodies in step 1: 310
number of type areas in step 1: 27

In [70]:
wb_list

array(['SE584340-174401', 'SE581700-113000', 'SE561400-161201',
       'SE654470-222700', 'SE633000-195000', 'SE625180-181655',
       'SE654820-222660', 'SE625000-180075', 'SE628750-183300',
       'SE631346-184241', 'SE631646-185280', 'SE583730-164501',
       'SE582705-163350', 'SE582050-165820', 'SE582147-111771',
       'SE580688-114860', 'SE575500-113750', 'SE574050-114780',
       'SE625900-174360', 'SE630383-183500', 'SE633550-200700',
       'SE636570-203590', 'SE633043-193300', 'SE552170-130626',
       'SE562000-123800', 'SE591400-183200', 'SE591200-183600',
       'SE592040-184000', 'SE592245-184400', 'SE600740-183460',
       'SE601070-182870', 'SE631610-184500', 'SE625500-175153',
       'SE622126-172430', 'SE622339-172190', 'SE652920-222650',
       'SE656620-222480', 'SE656300-222750', 'SE655120-220380',
       'SE655180-218660', 'SE636150-199220', 'SE635040-204196',
       'SE637070-204260', 'SE636910-204040', 'SE602120-181610',
       'SE582000-115270', 'SE575700-114240', 'SE581740-114820',
       'SE563330-124600', 'SE654860-219880', 'SE647050-213980',
       'SE575340-113000', 'SE654500-232000', 'SE652400-223501',
       'SE653900-223280', 'SE582000-112350', 'SE581260-113220',
       'SE574000-114230', 'SE585100-110600', 'SE572540-114801',
       'SE555545-124332', 'SE561005-150250', 'SE580610-113615',
       'SE580325-113500', 'SE580500-114725', 'SE581120-112680',
       'SE581365-112910', 'SE584750-111185', 'SE584890-110950',
       'SE582630-113515', 'SE584450-111445', 'SE584670-111300',
       'SE582150-112530', 'SE585600-110880', 'SE585200-111140',
       'SE583710-111535', 'SE582665-111706', 'SE582850-111760',
       'SE584030-111400', 'SE581853-112736', 'SE582230-112255',
       'SE573500-115150', 'SE571000-184001', 'SE585990-111125',
       'SE570000-120701', 'SE582700-110451', 'SE584200-105901',
       'SE554040-125750', 'SE554500-125001', 'SE575150-162700',
       'SE575370-164220', 'SE573940-163560', 'SE565400-163600',
       'SE570080-163430', 'SE565800-163000', 'SE570340-163710',
       'SE570500-163750', 'SE573500-163500', 'SE563825-161810',
       'SE564250-162500', 'SE659024-162417', 'SE572205-163500',
       'SE571552-162848', 'SE572500-164500', 'SE583718-161687',
       'SE583926-161744', 'SE583000-165600', 'SE560940-151740',
       'SE560500-154880', 'SE560810-153980', 'SE560780-153500',
       'SE560795-154730', 'SE560775-153055', 'SE560700-155801',
       'SE582460-164500', 'SE581520-165000', 'SE560825-144215',
       'SE621688-144133', 'SE560900-145280', 'SE560205-143545',
       'SE581000-164020', 'SE580585-164720', 'SE580735-165296',
       'SE580000-164060', 'SE554800-142001', 'SE562450-122751',
       'SE602400-183190', 'SE603870-181301', 'SE601300-182880',
       'SE603190-174000', 'SE601660-183550', 'SE594100-185690',
       'SE593750-184900', 'SE593820-185500', 'SE593300-183600',
       'SE592420-182210', 'SE590400-174090', 'SE590990-174015',
       'SE658507-162696', 'SE585200-174000', 'SE585345-174950',
       'SE590550-174540', 'SE583970-170280', 'SE584430-170665',
       'SE584227-171600', 'SE584390-172085', 'SE584400-172270',
       'SE584600-173200', 'SE584820-172920', 'SE584905-172980',
       'SE585075-173130', 'SE585040-173535', 'SE584870-174310',
       'SE583875-170270', 'SE584085-171600', 'SE658352-163189',
       'SE591090-182300', 'SE591160-182400', 'SE590385-180890',
       'SE584960-175280', 'SE591050-182740', 'SE590000-183000',
       'SE591300-182800', 'SE594200-192000', 'SE592640-184500',
       'SE593000-190500', 'SE593180-191280', 'SE594845-191240',
       'SE594800-190655', 'SE591655-183200', 'SE591745-182250',
       'SE594670-185500', 'SE594800-190220', 'SE601310-183700',
       'SE601000-183510', 'SE600565-184600', 'SE601300-184180',
       'SE585797-181090', 'SE574931-113131', 'SE561030-122821',
       'SE554810-125240', 'SE552500-124461', 'SE572472-120302',
       'SE572135-120141', 'SE570900-164501', 'SE644150-211000',
       'SE594340-190448', 'SE592400-180800', 'SE593750-183962',
       'SE634110-201920', 'SE634210-202020', 'SE643700-211940',
       'SE645000-212100', 'SE651818-212790', 'SE651475-214300',
       'SE651800-214740', 'SE651500-213108', 'SE645500-212000',
       'SE653176-222000', 'SE728806-179329', 'SE623890-178030',
       'SE622500-172430', 'SE622860-173000', 'SE622000-172300',
       'SE624870-175500', 'SE624615-180500', 'SE624335-180000',
       'SE623810-180350', 'SE623340-175556', 'SE634950-202940',
       'SE590740-174135', 'SE631840-191130', 'SE614165-171500',
       'SE613760-171000', 'SE613500-172500', 'SE613591-171000',
       'SE613500-171000', 'SE613240-171000', 'SE635660-199490',
       'SE574160-113351', 'SE580240-112501', 'SE573300-113801',
       'SE657412-164249', 'SE657608-164193', 'SE595000-185600',
       'SE612303-171075', 'SE622795-174565', 'SE623300-176210',
       'SE630210-187470', 'SE592600-181600', 'SE592575-181770',
       'SE623980-175600', 'SE645000-213500', 'SE604200-174400',
       'SE592790-183000', 'SE637640-204160', 'SE652020-211930',
       'SE644730-210650', 'SE641840-211540', 'SE634230-201605',
       'SE563000-123351', 'SE604250-173000', 'SE611676-171000',
       'SE580000-164500', 'SE590020-114520', 'SE590860-113810',
       'SE590900-112300', 'SE590670-111380', 'SE593500-190000',
       'SE571720-120640', 'SE635300-205251', 'SE582500-113890',
       'SE637310-204860', 'SE634740-203020', 'SE646360-213700',
       'SE643920-211500', 'SE584725-111050', 'SE650280-213110',
       'SE654640-233190', 'SE654575-234250', 'SE562290-124131',
       'SE592000-190500', 'SE570900-121060', 'SE571240-121000',
       'SE564500-122601', 'SE601440-184000', 'SE612791-171130',
       'SE572072-115880', 'SE573322-115478', 'SE572227-115662',
       'SE573044-115355', 'SE572308-115550', 'SE580500-111801',
       'SE574170-190001', 'SE584400-116000', 'SE583625-111300',
       'SE572000-180001', 'SE572350-180930', 'SE583121-171401',
       'SE633400-195000', 'SE611000-171500', 'SE611213-171063',
       'SE611600-171500', 'SE581280-170070', 'SE581240-165220',
       'SE581820-165500', 'SE619690-175690', 'SE612520-172080',
       'SE605660-172380', 'SE622011-146303', 'SE561480-148220',
       'SE561150-147620', 'SE560740-144375', 'SE603000-181500',
       'SE561000-153320', 'SE561000-150390', 'SE560385-154500',
       'SE560200-143175', 'SE654200-222920', 'SE654000-222430',
       'SE650750-213500', 'SE650460-213400', 'SE625416-182696',
       'SE628480-183070', 'SE593500-191660', 'SE593330-192540',
       'SE593000-192000', 'SE611766-171305', 'SE575150-190400',
       'SE654291-224000'], dtype=object)

In [112]:
#list(zip(typeA_list, df_step1.WATER_TYPE_AREA.unique()))
indicator_list = ['oxygen','bqi','din_winter','ntot_summer', 'ntot_winter', 'dip_winter', 'ptot_summer', 'ptot_winter', 'biov', 'chl', 'secchi']
test_wb = ['SE575370-164220', 'SE573940-163560', 'SE565400-163600', 'SE570080-163430', 'SE565800-163000', 'SE570340-163710', 'E570500-163750']
for indicator in indicator_list:
    w.apply_indicator_data_filter(step = 2, 
                          subset = subset_uuid, 
                          indicator = indicator,
                          water_body_list = test_wb)

Water body SE575370-164220
Water body SE573940-163560
Water body SE565400-163600
Water body SE570080-163430
Water body SE565800-163000
Water body SE570340-163710
Water body E570500-163750
Water body SE575370-164220
SE575370-164220
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body SE573940-163560
SE573940-163560
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body SE565400-163600
SE565400-163600
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
14    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body SE570080-163430
SE570080-163430
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
13    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body SE565800-163000
SE565800-163000
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
13    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body SE570340-163710
SE570340-163710
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
13    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
Water body E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
RESULT False
Water body SE575370-164220
SE575370-164220
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE575370-164220
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE573940-163560
SE573940-163560
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE573940-163560
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565400-163600
SE565400-163600
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565400-163600
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570080-163430
SE570080-163430
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570080-163430
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565800-163000
SE565800-163000
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565800-163000
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570340-163710
SE570340-163710
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570340-163710
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
RESULT False
Water body SE575370-164220
SE575370-164220
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE575370-164220
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body SE573940-163560
SE573940-163560
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE573940-163560
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body SE565400-163600
SE565400-163600
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565400-163600
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body SE570080-163430
SE570080-163430
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570080-163430
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body SE565800-163000
SE565800-163000
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565800-163000
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body SE570340-163710
SE570340-163710
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570340-163710
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
Water body E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
RESULT False
Water body SE575370-164220
SE575370-164220
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE575370-164220
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE573940-163560
SE573940-163560
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE573940-163560
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565400-163600
SE565400-163600
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565400-163600
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570080-163430
SE570080-163430
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570080-163430
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565800-163000
SE565800-163000
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565800-163000
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570340-163710
SE570340-163710
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570340-163710
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750
RESULT False
Water body SE575370-164220
SE575370-164220
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE575370-164220
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE573940-163560
SE573940-163560
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE573940-163560
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE573940-163560, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565400-163600
SE565400-163600
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565400-163600
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565400-163600, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570080-163430
SE570080-163430
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570080-163430
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570080-163430, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE565800-163000
SE565800-163000
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE565800-163000
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE565800-163000, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body SE570340-163710
SE570340-163710
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable DEPH_INTERVAL
num 8, suf , suf? ['']
8    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
SE570340-163710
['unspecified']
. . . . .
Series([], Name: MONTH_LIST, dtype: object)
0
. . . . .
----
water_body SE570340-163710, type_area 8, variable MONTH_LIST
num 8, suf , suf? ['']
8    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
Water body E570500-163750
'WaterBody' object has no attribute 'SEE570500-163750'
waterbody matching file does not recognise water body with VISS_EU_CD E570500-163750

In [115]:
w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'][test_wb[0]].keys()#['SE584340-174401'].keys()

dict_keys(['boolean', 'oxygen', 'bqi', 'din_winter', 'ntot_summer', 'ntot_winter', 'dip_winter', 'ptot_summer', 'ptot_winter', 'biov', 'chl', 'secchi'])

In [116]:
wb = test_wb[0]#'SE583926-161744' #typomr 22
#wb = 'SE654470-222700' #typomr 13
type_area = '2'#'01s - Västkustens inre kustvatten'
indicator = 'din_winter'
#w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'][type_area]['din_winter']['boolean']

In [117]:
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = indicator).MONTH.unique())
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = indicator).DEPH.min(),
        w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = indicator).DEPH.max())
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = indicator).VISS_EU_CD.unique())
w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb).WATER_TYPE_AREA.unique()

2018-06-04 16:37:21,668	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:37:21,668	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:37:21,668	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:37:21,669	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-06-04 16:37:21,669	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

[12  1]
0.5 8.3
['SE575370-164220']

array(['12s - Östergötlands och Stockholms skärgård. Mellankustvatten'], dtype=object)

In [75]:
w.mapping_objects['quality_element'].cfg['indicators']
[item.strip() for item in w.mapping_objects['quality_element'].cfg['indicators'].loc[indicator][0].split(', ')]

['DIN', 'SALT']

# Step 3 Load Indicator objects step 3....

In [118]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_setup(subset_unique_id = subset_uuid) 
#, indicator_list = ['din_winter', 'dip_winter']

********
din_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.525*s+15
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.525*s+15'] <class 'numpy.ndarray'>
value -0.525*s+15 in refvalue_column
['-0.525*s+15']
********
ntot_summer
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.9*s+30
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.9*s+30'] <class 'numpy.ndarray'>
value -0.9*s+30 in refvalue_column
['-0.9*s+30']
********
ntot_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.65*s+30
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.65*s+30'] <class 'numpy.ndarray'>
value -0.65*s+30 in refvalue_column
['-0.65*s+30']
********
dip_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.01*s+0.2
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.01*s+0.2'] <class 'numpy.ndarray'>
value 0.01*s+0.2 in refvalue_column
['0.01*s+0.2']
********
ptot_summer
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0*s+0.4
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0*s+0.4'] <class 'numpy.ndarray'>
value 0*s+0.4 in refvalue_column
['0*s+0.4']
********
ptot_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.015*s+0.4
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.015*s+0.4'] <class 'numpy.ndarray'>
value 0.015*s+0.4 in refvalue_column
['0.015*s+0.4']
********
bqi
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['' '']
Series([], Name: MIN_NR_YEARS, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]
----
water_body None, type_area 1s, variable HG_VALUE_LIMIT
num 1, suf s, suf? ['' '']
Series([], Name: HG_VALUE_LIMIT, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]
********
oxygen
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['s' 'n']
0    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE
num 1, suf s, suf? ['s' 'n']
0    3.5
Name: REF_VALUE, dtype: object <class 'pandas.core.series.Series'>
['3.5'] <class 'numpy.ndarray'>
value 3.5 in refvalue_column
['3.5']
********
biov
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.9
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.9'] <class 'numpy.ndarray'>
value 0.9 in refvalue_column
['0.9']
********
chl
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    1.6
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['1.6'] <class 'numpy.ndarray'>
value 1.6 in refvalue_column
['1.6']
********
secchi
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    8
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['8'] <class 'numpy.ndarray'>
value 8 in refvalue_column
['8']

In [119]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator].get_ref_value_type(water_body = wb)

SE575370-164220
['unspecified']
. . . . .
Series([], Name: REF_VALUE_LIMIT, dtype: object)
0
. . . . .
----
water_body SE575370-164220, type_area 12-s, variable REF_VALUE_LIMIT
num 12, suf s, suf? ['s' 'n']
12    -1.0833*s+9
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-1.0833*s+9'] <class 'numpy.ndarray'>
value -1.0833*s+9 in refvalue_column
['-1.0833*s+9']

'str'

In [120]:
ind_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [121]:
ind_obj.column_list

['SDATE',
 'YEAR',
 'MONTH',
 'POSITION',
 'VISS_EU_CD',
 'WATER_TYPE_AREA',
 'DEPH',
 'DIN',
 'SALT']

In [124]:
ind_obj.set_water_body_indicator_df('SE575370-164220')

AttributeError: 'IndicatorNutrients' object has no attribute 'set_water_body_indicator_df'

In [125]:
test_wb = ['SE575370-164220', 'SE573940-163560', 'SE565400-163600', 'SE570080-163430', 'SE565800-163000', 'SE570340-163710', 'E570500-163750']
for WB in test_wb:
    ind_obj.calculate_status(water_body = WB)

AttributeError: 'IndicatorNutrients' object has no attribute '_set_water_body_indicator_df'

In [93]:
ind_obj.classification_results.keys()

dict_keys(['SE583926-161744'])

In [80]:
ind_obj.get_water_body_indicator_df(wb)

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT,REFERENCE_VALUE
7031,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,5.00,6.1,2.39187
7032,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,4.85,6.0,2.50020
7033,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,4.92,6.0,2.50020
10166,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,10.10,5.3,3.25851
10167,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.87,5.9,2.60853
10168,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.95,6.5,1.95855
10930,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,8.38,5.5,3.04185
10931,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,8.13,NaN,NaN
10932,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.14,6.6,1.85022
17901,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,13.30,5.6,2.93352
17902,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.36,NaN,NaN
17903,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.93,6.6,1.85022
18619,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,9.37,5.0,3.58350
18620,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,7.97,NaN,NaN
18621,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.19,NaN,NaN
25719,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,25.47,2.3,6.50841
25720,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,15.03,NaN,NaN
25721,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.57,NaN,NaN
26807,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,6.93,6.4,2.06688
26808,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,6.15,NaN,NaN
33959,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,41.21,0.8,8.13336
33960,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,14.07,NaN,NaN

In [82]:
temp = ind_obj.water_body_indicator_df[wb].dropna(subset = ['DIN', 'REFERENCE_VALUE']).copy(deep = True)
temp['ek'] = np.divide(temp.REFERENCE_VALUE,temp.DIN)
temp

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT,REFERENCE_VALUE,ek
7031,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,5.00,6.1,2.39187,0.478374
7032,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,4.85,6.0,2.50020,0.515505
7033,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,4.92,6.0,2.50020,0.508171
10166,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,10.10,5.3,3.25851,0.322625
10167,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.87,5.9,2.60853,0.264289
10168,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.95,6.5,1.95855,0.281806
10930,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,8.38,5.5,3.04185,0.362989
10932,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.14,6.6,1.85022,0.259134
17901,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,13.30,5.6,2.93352,0.220565
17903,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.93,6.6,1.85022,0.233319
18619,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,9.37,5.0,3.58350,0.382444
25719,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,25.47,2.3,6.50841,0.255532
26807,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,6.93,6.4,2.06688,0.298251
33959,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,41.21,0.8,8.13336,0.197364

In [157]:
#dw_obj.ref_settings.get_value(variable = 'HG_EQR_LIMIT', type_area = type_area)
#dw_obj.ref_settings.get_value(variable = 'PB_EQR_LIMIT', type_area = type_area)

In [36]:
#dw_obj.tolerance_settings.get_value(variable = 'MIN_NR_YEARS', type_area = '22')
#dw_obj.tolerance_settings.get_min_nr_years(type_area = '22')
#dw_obj.mapping_objects['water_body'].keys()

In [41]:
#ind_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [86]:
ind_obj.water_body_indicator_df[wb]

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT,REFERENCE_VALUE,local_EQR
7031,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,5.00,6.1,2.39187,0.478374
7032,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,4.85,6.0,2.50020,0.515505
7033,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,4.92,6.0,2.50020,0.508171
10166,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,10.10,5.3,3.25851,0.322625
10167,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.87,5.9,2.60853,0.264289
10168,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.95,6.5,1.95855,0.281806
10930,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,8.38,5.5,3.04185,0.362989
10931,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,8.13,NaN,NaN,NaN
10932,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.14,6.6,1.85022,0.259134
17901,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,13.30,5.6,2.93352,0.220565
17902,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.36,NaN,NaN,NaN
17903,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.93,6.6,1.85022,0.233319
18619,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,9.37,5.0,3.58350,0.382444
18620,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,7.97,NaN,NaN,NaN
18621,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.19,NaN,NaN,NaN
25719,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,25.47,2.3,6.50841,0.255532
25720,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,15.03,NaN,NaN,NaN
25721,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.57,NaN,NaN,NaN
26807,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,6.93,6.4,2.06688,0.298251
26808,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,6.15,NaN,NaN,NaN
33959,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,41.21,0.8,8.13336,0.197364
33960,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,14.07,NaN,NaN,NaN

In [43]:
print(ind_obj.classification_results[wb].keys())
for key, value in ind_obj.classification_results[wb].items():
    if key == 'all_data':
        pass
    else:
        print('**************************************')
        print(key)
        print(value)

dict_keys(['parameter', 'salt_parameter', 'water_body', 'all_data', 'all_ok', 'water_body_status', 'local_EQR', 'global_EQR', 'status', 'local_EQR_by_date', 'local_EQR_by_year', 'local_EQR_by_period', 'number_of_years'])
**************************************
parameter
DIN
**************************************
salt_parameter
SALT
**************************************
water_body
SE583926-161744
**************************************
all_ok
mean_local_EQR    False
Name: all_ok, dtype: bool
**************************************
water_body_status
None
**************************************
local_EQR
0.307731457161
**************************************
global_EQR
0.223641942881
**************************************
status
POOR
**************************************
local_EQR_by_date
        SDATE  YEAR  number_of_values       min       max  mean_local_EQR
0  2013-02-08  2013                 1  0.197364  0.197364        0.197364
1  2013-12-10  2013                 1  0.298251  0.298251        0.298251
2  2014-02-25  2014                 1  0.255532  0.255532        0.255532
3  2014-12-16  2014                 1  0.382444  0.382444        0.382444
4  2015-02-09  2015                 2  0.220565  0.233319        0.226942
5  2015-12-08  2015                 2  0.259134  0.362989        0.311062
6  2016-02-09  2016                 3  0.264289  0.322625        0.289573
7  2016-12-08  2016                 3  0.478374  0.515505        0.500683
**************************************
local_EQR_by_year
      number_of_dates       min       max  mean_local_EQR
YEAR
2013                2  0.197364  0.298251        0.247807
2014                2  0.255532  0.382444        0.318988
2015                2  0.226942  0.311062        0.269002
2016                2  0.289573  0.500683        0.395128
**************************************
local_EQR_by_period
0.307731457161
**************************************
number_of_years
4.0

In [87]:
ind_obj.classification_results[wb]['local_EQR_by_year']#.dropna(subset = ['mean_ek_value'])

NameError: name 'ind_obj' is not defined

In [46]:
ind_obj.water_body_indicator_df[wb].dropna(subset = ['REFERENCE_VALUE'])

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT,REFERENCE_VALUE,local_EQR
7031,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,5.00,6.1,2.39187,0.478374
7032,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,4.85,6.0,2.50020,0.515505
7033,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,4.92,6.0,2.50020,0.508171
10166,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,10.10,5.3,3.25851,0.322625
10167,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.87,5.9,2.60853,0.264289
10168,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.95,6.5,1.95855,0.281806
10930,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,8.38,5.5,3.04185,0.362989
10932,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.14,6.6,1.85022,0.259134
17901,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,13.30,5.6,2.93352,0.220565
17903,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.93,6.6,1.85022,0.233319
18619,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,9.37,5.0,3.58350,0.382444
25719,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,25.47,2.3,6.50841,0.255532
26807,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,6.93,6.4,2.06688,0.298251
33959,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,41.21,0.8,8.13336,0.197364

In [30]:
def get_EK(x):
    y = x.DIN/x.REFERENCE_VALUE
    if y > 1:
        return 1
    else:
        return y

df = ind_obj.water_body_indicator_df[wb]
df['ek_value'] = df.apply(get_EK, axis = 1)

In [31]:
df[ind_obj.indicator_parameter]/df.REFERENCE_VALUE

7057     1.002526
7058     1.011999
7059     1.075150
7349     1.193559
7350     0.852542
7351     0.895169
10343    1.795074
10344    1.262979
10345    1.235931
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.114502
17832    1.042739
17833    1.155796
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.205698
26383    1.058389
26384    1.466357
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.289190
34346    1.481507
dtype: float64

In [32]:
by_date = df.groupby(['SDATE', 'YEAR'],).ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
# by_date.to_csv(self.paths['results'] +'/' + self.name + water_body +'by_occation.txt', sep='\t')
by_date.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_values'}, inplace=True) # Cant use "mean" below
by_date

        SDATE  YEAR  number_of_values       min       max  mean_ek_value
0  2013-01-15  2013                 3  0.907042  1.000000       0.969014
1  2013-12-04  2013                 3  0.954291  0.985130       0.969711
2  2014-01-16  2014                 3  1.000000  1.000000       1.000000
3  2014-12-03  2014                 3  0.845883  0.874886       0.857428
4  2015-01-14  2015                 0       NaN       NaN            NaN
5  2015-02-11  2015                 3  1.000000  1.000000       1.000000
6  2015-12-02  2015                 3  0.911079  0.937210       0.920956
7  2016-01-27  2016                 3  1.000000  1.000000       1.000000
8  2016-11-09  2016                 3  0.852542  1.000000       0.915904
9  2016-12-07  2016                 3  1.000000  1.000000       1.000000

In [34]:
# Remove occations with not enough samples
# Or use count as a flag for what to display for the user?
by_date['all_ok'] = True
ix = by_date.loc[by_date['number_of_values'] < 1, 'all_ok'].index
by_date.set_value(ix, 'all_ok', False)

,SDATE,YEAR,number_of_values,min,max,mean_ek_value,all_ok
0,2013-01-15,2013,3,0.907042,1.000000,0.969014,True
1,2013-12-04,2013,3,0.954291,0.985130,0.969711,True
2,2014-01-16,2014,3,1.000000,1.000000,1.000000,True
3,2014-12-03,2014,3,0.845883,0.874886,0.857428,True
4,2015-01-14,2015,0,NaN,NaN,NaN,False
5,2015-02-11,2015,3,1.000000,1.000000,1.000000,True
6,2015-12-02,2015,3,0.911079,0.937210,0.920956,True
7,2016-01-27,2016,3,1.000000,1.000000,1.000000,True
8,2016-11-09,2016,3,0.852542,1.000000,0.915904,True
9,2016-12-07,2016,3,1.000000,1.000000,1.000000,True

In [35]:
"""
2) Medelvärdet av EK för varje parameter beräknas för varje år.
"""
by_year = by_date.groupby('YEAR').mean_ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
by_year.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_dates'}, inplace=True)
by_year['all_ok'] = True
by_year.loc[by_year['number_of_dates'] < 1, 'all_ok'] = False
# by_year.to_csv(self.paths['results'] +'/' + self.name + water_body + 'by_year.txt', sep='\t')
by_year

   YEAR  number_of_dates       min       max  mean_ek_value all_ok
0  2013                2  0.969014  0.969711       0.969362   True
1  2014                2  0.857428  1.000000       0.928714   True
2  2015                2  0.920956  1.000000       0.960478   True
3  2016                3  0.915904  1.000000       0.971968   True

In [36]:
by_period = by_year[['mean_ek_value']].describe()
by_period

       mean_ek_value
count       4.000000
mean        0.957631
std         0.019895
min         0.928714
25%         0.952537
50%         0.964920
75%         0.970014
max         0.971968

In [37]:
"""
3) Medelvärdet av EK för varje parameter och vattenförekomst (beräknas för minst
en treårsperiod)
"""
by_period = by_year[['mean_ek_value']].describe()#.agg(['count', 'min', 'max', 'mean'])
by_period = by_period.transpose()
#by_period#.loc['mean', 'mean_ek_value']
#
#by_period['count'].get_value('mean_ek_value')
by_period['all_ok']  = True
if by_period['count'].get_value('mean_ek_value') < 3:
    by_period['all_ok'] = False

by_period

,count,mean,std,min,25%,50%,75%,max,all_ok
mean_ek_value,4.0,0.957631,0.019895,0.928714,0.952537,0.96492,0.970014,0.971968,True

In [40]:
by_period['mean'].get_value('mean_ek_value')

0.95763063655011882

In [29]:
temp_df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
...                   index=pd.date_range('1/1/2000', periods=10))
temp_df.iloc[3:7] = np.nan
temp_df.describe()

              A         B         C
count  6.000000  6.000000  6.000000
mean   0.206290  0.471121 -0.242431
std    0.586035  0.679945  1.721820
min   -0.333494 -0.641210 -2.997678
25%   -0.286442  0.214068 -1.103137
50%    0.056126  0.508677  0.315088
75%    0.657880  0.929940  0.644624
max    1.001151  1.264358  1.734323

In [30]:
def set_above_one_value(x):
    if x > 1:
        return 1
    else:
        return x
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['DIN']/dw_obj.water_body_indicator_df[wb]['REFERENCE_VALUE']
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['EK'].apply(set_above_one_value)
dw_obj.water_body_indicator_df[wb]['EK']

7057     1.000000
7058     1.000000
7059     1.000000
7349     1.000000
7350     0.852542
7351     0.895169
10343    1.000000
10344    1.000000
10345    1.000000
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.000000
17832    1.000000
17833    1.000000
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.000000
26383    1.000000
26384    1.000000
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.000000
34346    1.000000
Name: EK, dtype: float64

In [31]:
dw_obj.get_filtered_data(subset = subset_uuid, step = 'step_2', type_area = 22, indicator = 'din_winter')[['DIN']].dropna()

         DIN
5199    4.68
5200    4.55
5201    4.54
5202    4.23
5203    4.42
5204    4.19
5205    5.59
5206    8.84
5207    6.77
5208    5.68
5209    4.39
5210    4.27
5211    4.63
5212    4.59
5213    4.59
5214    5.08
5215    5.34
5216    4.60
5217    4.31
5218    4.19
5219    4.60
5220   15.76
5221    8.59
5222    6.40
5223    6.46
5224    5.67
5225    5.34
5226    4.62
5227    5.18
5228    5.18
...      ...
34530  11.72
34531   4.89
34532   4.85
34533   4.39
34534   4.22
34535   9.33
34536  10.92
34537   8.57
34538   5.36
34539   3.93
34540   5.71
34541   7.14
34542  35.71
34543   3.93
34544   4.14
34545  26.35
34546  11.60
34547   8.32
34548   8.46
34549   8.60
34550   5.55
34551   5.39
34552   5.42
34553   5.40
34554   6.17
34555   8.48
34556  11.34
34557  15.83
34558  11.80
34559   3.85

[18009 rows x 1 columns]

In [120]:
B2_NTOT_WINTER_SETTINGS = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter']
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].allowed_variables
# gör om till
# lv_workspace.get_indicator_ref_settings(step = , subset = , indicator = , waterbody/type)
# ger samma resultat som:
#lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.ref_columns

lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.get_value('EK G/M', 22)
#print(B2_NTOT_WINTER_SETTINGS)
#B2_NTOT_WINTER_SETTINGS.get_value('2', 'DEPTH_INTERVAL')

'0.85'

In [124]:
av = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].allowed_variables
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df[av]

   DEPH_INTERVAL MONTH_LIST
0           0-10   1;2;3;12
1           0-10   1;2;3;12
2           0-10   1;2;3;12
3           0-10   1;2;3;12
4           0-10   1;2;3;12
5           0-10   1;2;3;12
6           0-10   1;2;3;12
7           0-10     1;2;12
8           0-10     1;2;12
9           0-10     1;2;12
10          0-10     1;2;12
11          0-10     1;2;12
12          0-10     1;2;12
13          0-10     1;2;12
14          0-10     1;2;12
15          0-10     1;2;12
16          0-10     1;2;12
17          0-10  1;2;11;12
18          0-10  1;2;11;12
19          0-10  1;2;11;12
20          0-10  1;2;11;12
21          0-10  1;2;11;12
22          0-10  1;2;11;12
23          0-10  1;2;11;12
24          0-10  1;2;11;12
25          0-10     1;2;12
26          0-10   1;2;3;12

In [119]:
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df

,TYPE_AREA_NUMBER,TYPE_AREA_SUFFIX,DEPH_INTERVAL,MIN_NR_YEARS,MIN_NR_VALUES,TIME_DELTA_TOLERANCE,POS_RADIUS_TOLERANCE,DEPH_TOLERANCE,MONTH_LIST,EKV REF,EKV H/G,EKV G/M,EKV M/O,EKV O/D,EK H/G,EK G/M,EK M/O,EK O/D,SALINITY MAX
0,1,n,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
1,1,s,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
2,2,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
3,3,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
4,4,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
5,5,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
6,6,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
7,7,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
8,8,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
9,9,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
10,10,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
11,11,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
12,12,s,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
13,12,n,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
14,13,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
15,14,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
16,15,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
17,16,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
18,17,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
19,18,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
20,19,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
21,20,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
22,21,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
23,22,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
24,23,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
25,24,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
26,25,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20

In [67]:
B2_NTOT_WINTER_SETTINGS.settings.mapping_water_body['N m Bottenvikens kustvatten']

{'BASIN_NUMBER': '110002.0',
 'CENTER_LAT': '64° 42\' 35,349"',
 'CENTER_LON': '21° 24\' 5,383"',
 'EU_CD': 'SE648760-213140',
 'HID': '649640-214530',
 'TYPE_AREA_NUMBER': '23',
 'TYPE_AREA_SUFFIX': '',
 'URL_VISS': 'http://www.viss.lansstyrelsen.se/waters.aspx?waterEUID=SE648760-213140'}

### Set subset time and area filter

In [35]:
f1_A = lv_workspace.get_data_filter_object(step=1, subset='A') 
f1_A.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [136]:
lv_workspace.get_data_filter_info(step=1, subset='A')

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [36]:
f1_A.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [21]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

### Apply subset filter

In [22]:
lv_workspace.apply_subset_filter(subset='A') # Not handled properly by the IndexHandler

True

### Extract filtered data

In [23]:
data_after_subset_filter = lv_workspace.get_filtered_data(level=1, subset='A') # level=0 means first filter 
print('{} rows mathing the filter criteria'.format(len(data_after_subset_filter)))
data_after_subset_filter.head()

198 rows mathing the filter criteria

,AMON,BQIm,CPHL,DEPH,DOXY_BTL,DOXY_CTD,LATIT_DD,LONGI_DD,MNDEP,MXDEP,...,SERNO,SHARKID_MD5,SHIPC,STATN,STIME,TEMP_BTL,TEMP_CTD,WATER_DISTRICT,WATER_TYPE_AREA,WLTYP
2628,0.76,NaN,0.6,0.0,7.05,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.96,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2629,0.72,NaN,0.5,2.0,7.12,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.93,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2630,0.74,NaN,0.6,5.0,7.16,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.88,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2631,0.65,NaN,0.5,10.0,7.11,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.12,4.86,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2632,0.46,NaN,0.3,15.0,6.86,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.52,5.10,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM

In [24]:
# show available waterbodies
lst = data_after_subset_filter.SEA_AREA_NAME.unique()
print('Waterbodies in subset:\n{}'.format('\n'.join(lst)))

Waterbodies in subset:
Gullmarn centralbassäng

In [24]:
import numpy as np
np.where(lv_workspace.index_handler.subset_filter)

(array([2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639,
        2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764,
        2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880,
        2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962,
        3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087,
        3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195,
        3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292,
        3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419,
        3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503,
        3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634,
        3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727,
        3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869,
        3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989,
        4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120,
        4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275,
        4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364,
        4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512,
        4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816], dtype=int64),)

In [25]:
f = lv_workspace.get_data_filter_object(step=1, subset='A')

In [26]:
f.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [27]:
f.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [28]:
f.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [29]:
s = lv_workspace.get_step_1_object('A')

In [30]:
s.data_filter.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [31]:
f0 = lv_workspace.get_data_filter_object(step=0)

In [32]:
f0.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': []}

In [33]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

# Quality factor Nutrients

In [ ]:
lv_workspace.initiate_quality_factors()